﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>
        This appllication would help students learn to perform some text analysis. Also it would help them to learn and write regular expression.
        Furthermore, it would help them to build some vaocabulary.
    </p>
</div>
