﻿@{
    ViewData["Title"] = "Regulare Expression validator";
    var listMatchedWords = new List<string>();

    listMatchedWords = (ViewBag.RegularExpressionresult as List<string>);
    if(listMatchedWords == null)
    {
        listMatchedWords = new List<string>();
    }
}

<form action="/RegularExpressionValidator/Index" method="post">
    <div class="text-center">
        <p>
            <table>
                <tr>
                    <td>Regular expression:</td>
                    <td><input type="text" id="regularExpression" name="regularExpression" value="@ViewBag.RegularExpression" /></td>
                </tr>
                <tr>
                    <td>Text:</td>
                    <td><input type="text" id="regularExpressionText" name="regularExpressionText" value="@ViewBag.RegularExpressionText" /></td>
                </tr>
                <tr>
                    <td>Result:</td>
                    <td>
                        <textarea id="regularExpressionresult" name="regularExpressionresult" readonly="readonly" rows="4" style="width: 90%;">
                            @foreach (var word in listMatchedWords)
                            {
                                @(word + Environment.NewLine)
                            }
                        </textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Validate Regular Expression" /></td>
                </tr>
            </table>
        </p>
    </div>
</form>