﻿@{
    ViewData["Title"] = "Text analysis";
}


<form action="/TextAnalysis/Index" method="post">
    <div class="text-center">
        <p>
            <table>
                <tr>
                    <td>Text:</td>
                    <td>
                        <textarea id="textToAnalyze" name="textToAnalyze" rows="4" style="width: 90%;">@ViewBag.text</textarea>
                    </td>
                </tr>
                <tr>
                    <td>Word:</td>
                    <td><input type="text" id="word" name="word" value="@ViewBag.word" /></td>
                </tr>
                <tr>
                    <td>Total count:</td>
                    <td>@ViewBag.count</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Count words" /></td>
                </tr>
            </table>
        </p>
    </div>
</form>
